HTTP_SERVER_ADDRESS="0.0.0.0"
HTTP_SERVER_PORT="50051"

APP_SECRET="random_secretkey123"

DATABASE_URL="postgres://postgres:test@postgres:5432/main?sslmode=disable"
CACHE_URL="redis://redis:6379/0"

# use these variables, if run app manually
HTTP_SERVER_ADDRESS="localhost"
CONFIG_PATH="/path/to/your/config"

# you need generate your own private key and set the path here, if you want use production environment,
# otherwise the server will generate a temporary key on startup
# RS256_PRIVATE_KEY_PATH="/path/to/your/private/key"

#use it for your docker containers
HOST_CONFIG_PATH="./config/sample.yaml"
HOST_PRIVATE_KEY_PATH ="/path/to/your/private/key/on/host/machine"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="test"
POSTGRES_DB="main"
POSTGRES_PORT="5432"