HTTP_SERVER_ADDRESS="0.0.0.0"
HTTP_SERVER_PORT="8080"

APP_SECRET="random_secretkey123"

CONFIG_PATH="./config/sample.yaml"
DATABASE_URL="postgres://postgres:test@postgres:5432/main?sslmode=disable"
CACHE_URL="redis://redis:6379/0"

#use it, if you want to run postgres like a docker container
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="test"
POSTGRES_DB="main"
POSTGRES_PORT="5432"